.popup-section{
    display: flex;
}

#selection{
    padding: var(--selection-border-width);
    position: absolute;
    box-shadow: 0 0 10px #00000080;
    left: 50%;
    top: -0.5rem;
    z-index: 0;
    transition: 0s;
    opacity: 0;
    scale: 0;
}


#selection.show{
    opacity: 1;
    scale: 1;
}
#selection-popup{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0;
    scale: 0;
    pointer-events: none;
}
#selection:not(:active):hover #selection-popup{
    opacity: 1;
    scale: 1;
    pointer-events: all;
}

/* selection border gradient */
#selection::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate:  -50% -50%;
    width: 100%;
    padding: var(--selection-border-offset);
    height: 100%;
    border-radius: inherit;
    z-index: -1;
    border: var(--selection-border-width) solid transparent;
    background: linear-gradient(var(--selection-border-rotation), var(--selection-border-color1), var(--selection-border-color2)) border-box;
    mask: 
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
    animation: bg-rotation 2s linear infinite;
}
@property --selection-border-rotation {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
@keyframes bg-rotation {
    from { --selection-border-rotation: 0deg; }
    to { --selection-border-rotation: 360deg; }
}
