

#selection{
    padding: var(--selection-border-width);
    position: fixed;
    box-shadow: 0 0 10px #00000080;
    left: 50%;
    top: -0.5rem;
    z-index: 0;
    transition: 0s;
    opacity: 0;
    border-radius: var(--selection-border-roundness);
    scale: 0;
}

#selection.show{
    opacity: 1;
    scale: 1;
}
#selection-popup{
    padding: var(--ui-icon-padding);
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    opacity: 0;
    scale: 0;
    pointer-events: none;
    background-color: var(--ui-bg);
    backdrop-filter: blur(1.2rem);
    box-shadow: var(--ui-shadow);
    position: absolute;
    border-radius: calc(var(--ui-icon-roundness) + var(--ui-icon-padding));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}
/* bigger hidden hitbox for selection popup, change padding to increase/decrease */
#selection-popup::before{
    content: '';
    position: absolute;
    padding: var(--ui-popup-hitbox-size);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#selection:not(:active):hover #selection-popup, #selection-popup:hover, #selection-popup:active, #selection-popup:has(input[type='color']:focus-visible) {
    opacity: 1;
    scale: 1;
    pointer-events: all;
    translate: -50% -100%;
    box-shadow: var(--ui-shadow-hover);
    background-color: var(--ui-bg-hover);
    top: -1rem;
}

/* selection border gradient */
#selection::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    translate:  -50% -50%;
    width: 100%;
    padding: var(--selection-border-offset);
    height: 100%;
    border-radius: calc(var(--selection-border-roundness) + var(--selection-border-width));
    z-index: -1;
    border: var(--selection-border-width) solid transparent;
    background: linear-gradient(var(--selection-border-rotation), var(--selection-border-color1), var(--selection-border-color2)) border-box;
    mask: 
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#000 0 0);
    mask-composite: exclude;
    animation: bc-rotation 2s linear infinite;
}
@property --selection-border-rotation {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
@keyframes bc-rotation {
    from { --selection-border-rotation: 0deg; }
    to { --selection-border-rotation: 360deg; }
}

/* icons only in selection popup */
.popup-icon {
    position: relative;
    cursor: default;
}

/* selections for sections inside popup icons */
.popup-icon .popup-section, #selection-popup:has(.popup-icon:focus-within) .popup-icon:not(:focus-within) .popup-section{
    display: flex;
    position: absolute;
    top: -1rem;
    left: 50%;
    translate: -50% -50%;
    opacity: 0;
    scale: 0;
    background-color: var(--ui-bg);
    backdrop-filter: blur(var(--ui-blur)); 
    box-shadow: var(--ui-shadow);
    pointer-events: none;
    padding: var(--ui-padding);
    border-radius: calc(var(--ui-elements-roundness) + var(--ui-padding));

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 100%;
        height: 100%;
        z-index: -1;
        padding: var(--ui-popup-hitbox-size);
    }
}
.popup-icon:hover .popup-section, .popup-section:active, #selection-popup:has(.popup-icon:focus-within) .popup-icon:focus-within .popup-section {
    opacity: 1;
    scale: 1;
    top: -1rem;
    translate: -50% -100%;
    pointer-events: all;
}

.popup-section:hover, .popup-section:active {
    box-shadow: var(--ui-shadow-hover);
    background-color: var(--ui-bg-hover);
}




.popup-section input[type="radio"] {
    appearance: none;
    cursor: pointer;
}
.popup-section input[type="radio"]:checked {
    background-color: var(--clr-desat);
}
