.popup-section{
    display: flex;
}

#selection{
    position: absolute;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px #00000080;
    left: 50%;
    top: -0.5rem;
    z-index: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    scale: 0;
}
#selection.show{
    opacity: 1;
    scale: 1;
}
#popup-content{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
#selection:hover #popup-content{
    
}
#selection .selection-popup{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}