input[type="text"], input[type="password"], button{
    padding: var(--ui-elements-padding);
    border-radius: var(--ui-elements-roundness);
    border: var(--ui-elements-border-width) solid var(--clr-desat);
    background-color: var(--clr-bg-element);
    color: var(--clr-text);
}
input[type="text"], input[type="password"]{
    width: 100%;
}
input[type="text"]:focus, input[type="password"]:focus{
    border-color: var(--clr-secondary);
    background-color: var(--clr-secondary-desat);
}
input[type="text"]:hover, input[type="password"]:hover{
    border-color: var(--clr);
}

input[type="range"]{
    appearance: none;
    width: 100%;
    height: 1rem;
    min-width: 8rem;
    background-color: var(--clr-desat);
    border-radius: var(--ui-elements-roundness);
    outline: none;
}
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: var(--clr-secondary);
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition-duration-button) ease;
}
input[type="range"]:hover::-webkit-slider-thumb {
    scale: 1.2;
}
input[type="range"]:active::-webkit-slider-thumb {
    scale: 0.9;
}


button{
    cursor: pointer;
    background-color: var(--clr-desat);
    border: var(--ui-elements-border-width) solid transparent;
    transition: all var(--transition-duration-button) ease;
}
button.secondary{
    background-color: transparent;
    border-color: var(--clr-secondary-desat);
    color: var(--clr-text);
}
button:hover{
    border-color: var(--clr);
    scale: 1.05;
}
button.secondary:hover{
    border-color: var(--clr-secondary);
    background-color: var(--clr-secondary-desat);
}
button:active, button:focus-visible{
    background-color: var(--clr);
    border-color: transparent;
    color: var(--clr-text-alt);
    scale: 0.95;
}
button.secondary:active, button.secondary:focus-visible{
    background-color: var(--clr-secondary-desat);
    border-color: var(--clr-secondary);
    color: var(--clr-text);
}



.table-container{
    border-radius: var(--ui-elements-roundness);
    border: var(--ui-elements-border-width) solid var(--clr-desat);
    overflow: hidden;
}
table{
    border-collapse: collapse;
}
td{
    border: var(--ui-elements-border-width) solid var(--clr-desat);
}
td:first-child{border-left: none;}
td:last-child{border-right: none;}
tr:last-child td{border-bottom: none;}
tbody:nth-of-type(2) td{border-top: none;}
th{
    background-color: var(--clr-desat);
    color: var(--clr-text);
    font-weight: bold;
    text-align: left;
    font-size: 1.1rem;
}
td, th{
    padding: var(--ui-elements-padding);
}
.noteTitle{
    min-width: 8rem;
    max-width: 50vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dateCell, th{
    white-space: nowrap;
}


input.hue-slider{
    appearance: none;
    --lightness: 65%;
    --saturation: var(--clr-saturation);
    border-radius: 3rem;
    background-image: linear-gradient(to right,
        oklch(var(--lightness) var(--saturation) 0),
        oklch(var(--lightness) var(--saturation) 0),
        oklch(var(--lightness) var(--saturation) 30),
        oklch(var(--lightness) var(--saturation) 60),
        oklch(var(--lightness) var(--saturation) 90),
        oklch(var(--lightness) var(--saturation) 120),
        oklch(var(--lightness) var(--saturation) 150),
        oklch(var(--lightness) var(--saturation) 180),
        oklch(var(--lightness) var(--saturation) 210),
        oklch(var(--lightness) var(--saturation) 240),
        oklch(var(--lightness) var(--saturation) 270),
        oklch(var(--lightness) var(--saturation) 300),
        oklch(var(--lightness) var(--saturation) 330),
        oklch(var(--lightness) var(--saturation) 360),
        oklch(var(--lightness) var(--saturation) 360));
}
input.hue-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: oklch(65% 65% var(--clr-hue));
    cursor: pointer;
    outline: .1rem solid white;
}
input.saturation-slider{
    appearance: none;
    border-radius: 3rem;
    background-image: linear-gradient(to right,
        oklch(50% 0% var(--clr-hue)),
        oklch(50% 100% var(--clr-hue)));
}
input.saturation-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: oklch(65% var(--clr-saturation) var(--clr-hue));
    cursor: pointer;
    outline: .1rem solid white;
}
input.lightness-slider{
    appearance: none;
    border-radius: 3rem;
    background-image: linear-gradient(to right,
        oklch(0% 0 var(--clr-hue)),
        oklch(100% 0 var(--clr-hue)));
}
input.lightness-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: oklch(var(--clr-lightness) 0 0);
    cursor: pointer;
    outline: .1rem solid white;
}

