
#note-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--note-bg);
}
#note-content{
    position: absolute;
    top: 0;
    left: 0;
    transition: 0s;
}


.element{
    position: absolute;
    box-sizing: content-box;
    color: #fff;
    display: flex;
    translate: -50% -50%;
}

.element img{
    pointer-events: none;
}
