

#note-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
}


.element{
    position: absolute;
    box-sizing: content-box;
    color: #fff;
    translate: -50% -50%;
}
.element pre {position: relative;}

.element:has(pre:focus){
    outline: 1px solid #fff;
    outline-offset: .5rem;
}
