#sidebar{
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    top: var(--overlay-padding);
    left: var(--overlay-padding);
    bottom: var(--overlay-padding);
    color: var(--clr-text);
    pointer-events: none;
    justify-content: space-between;
}

#sidebar > *{
    pointer-events: all;
    backdrop-filter: blur(var(--ui-blur));
    display: inline-block;
    background-color: var(--ui-bg);
    width: fit-content;
    box-shadow: var(--ui-shadow);
    position: relative;
}
#sidebar > *:hover, #sidebar > *:active, #sidebar > *:focus-visible{
    backdrop-filter: blur(var(--ui-blur-hover));
    box-shadow: var(--ui-shadow-hover);
    scale: 1.1;
    background-color: var(--ui-bg-hover);
}
#sidebar > *:not(input):active{
    transition: var(--transition-duration-button);
}
#note-title{
    border: none;
    field-sizing: content;
    max-width: 15rem;
    scale: 1 !important;
}

#tools, #statusbar {
    border-radius: calc(var(--ui-icon-roundness) + var(--ui-icon-padding));
    overflow: hidden;
    padding: var(--ui-icon-padding);
}

