
#status-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--statusbar-bg);
    align-items: center;
    padding: var(--ui-elements-padding);
    height: var(--statusbar-height);
}

#status-bar > div {
    display: inline-block;
    height: 100%;
}
