:root {
    --note-bg: oklch(0% 0 0);
    --page-bg: var(--note-bg);

    --test: oklch(100% 0.00011 271.152);

    --clr-hue: 225;
    --clr-saturation: 0.15;
    --clr-lightness: 70%;

    --clr-accent-hue: 300;
    --clr-accent-saturation: calc(var(--clr-saturation) * 0.8);
    --clr-accent-lightness: var(--clr-lightness);

    --clr-bg-hue: 250;
    --clr-bg-saturation: 0.02;
    --clr-bg-lightness: var(--clr-lightness);

    --clr: oklch(var(--clr-lightness)  var(--clr-saturation) var(--clr-hue));
    --clr-desat: oklch(calc(var(--clr-lightness) + 10%) 0.10 var(--clr-hue) / 0.3);
    --clr-accent: oklch(var(--clr-accent-lightness) var(--clr-accent-saturation) var(--clr-accent-hue));
    --clr-accent-desat: oklch(calc(var(--clr-accent-lightness) + 10%) 0.10 var(--clr-accent-hue) / 0.3);
    --clr-bg: oklch(var(--clr-bg-lightness)  var(--clr-bg-saturation) var(--clr-bg-hue) / 0.3);
    --clr-text: oklch(100% 0.00011 271.152);
    --clr-text-alt: oklch(0% 0 0);

    --overlay-bg: oklch(calc(var(--clr-bg-lightness) * 0.8) calc(var(--clr-bg-saturation) * 0.7) var(--clr-bg-hue) / 0.32);
    --overlay-padding: 1rem;
    --overlay-roundness: 1.5rem;
    --overlay-padding-elements: 1rem;
    --overlay-title-bg: oklch(var(--clr-lightness) var(--clr-saturation) var(--clr-hue) / 0.51);
    --overlay-blur: 1rem;
    --overlay-shadow:
        0 0 15px 5px oklch(0% 0 0 / 0.231),
        0 4px 25px 0 oklch(100% 0.00011 271.152 / 0.25) inset;

    --sidebar-padding: 1rem;
    --sidebar-icon-size: 1.5rem;
    --sidebar-icon-padding: .45rem;
    --sidebar-icon-roundness: 10rem;

    --ui-blur: .2rem;
    --ui-blur-hover: calc(var(--ui-blur) * 3);

    --ui-bg: oklch(53.824% min(var(--clr-saturation), 0.04) var(--clr-hue) / 0.228);
    --ui-bg-hover: oklch(32.109% min(var(--clr-saturation), 0.08) var(--clr-hue) / 0.211);

    --ui-shadow:
        0 0 10px 0 oklch(0% 0 0 / 0.502),
        0 0 5px 0 oklch(65.004% 0.00007 271.152 / 0.259) inset;
    --ui-shadow-hover:
        0 0 15px 0 oklch(0% 0 0 / 0.631),
        0 0 10px 0 oklch(83.591% 0.0001 271.152 / 0.502) inset;

    --ui-elements-roundness: .7rem;
    --ui-elements-border-width: .15rem;
    --ui-elements-padding: .5rem;
    --ui-elements-font-size: 1rem;

    --ui-icon-size: 1.5rem;
    --ui-icon-size-small: 1.2rem;

    --selection-border-width: .2rem;
    --selection-border-offset: .4rem;
    --selection-border-roundness: .4rem;
    --selection-border-color1: oklch(var(--clr-lightness) var(--clr-saturation) calc(var(--clr-hue) - 60));
    --selection-border-color2: oklch(var(--clr-lightness) var(--clr-saturation) calc(var(--clr-hue) + 60));

    --settings-bg: var(--overlay-bg);
    --settings-padding: var(--overlay-padding);
    --settings-padding-elements: var(--overlay-padding-elements);
    --settings-blur: var(--overlay-blur);

    --transition-duration: 0.3s;
    --transition-duration-button: 0.1s;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: var(--clr-text);
    transition: all var(--transition-duration) ease;
    font-size: var(--ui-elements-font-size);
    user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    -moz-user-select: none !important;
    -webkit-touch-callout: none !important;
}


.opposite{
    display: flex;
    justify-content: space-between;
}

.no-transition{
    transition: 0s !important;
}

.dragging{
    transition: .1s linear !important;
}

.selectable{
    user-select: text !important;
    -webkit-user-select: text !important;
    -ms-user-select: text !important;
    -moz-user-select: text !important;
    -webkit-touch-callout: text !important;
}

html{color-scheme: dark light;}
body{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--page-bg);
}

body[in-overlay="true"] > *:not(#overlay){
    opacity: 0;
    pointer-events: none;
}

body[in-overlay="true"] > #wallpaper{
    opacity: 1;
    pointer-events: all;
}




#wallpaper{
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    /* in case of no wallpaper use the old one */
    background: radial-gradient(circle at 0% 0%, #023437, transparent), radial-gradient(circle at 50% 50%, #360751, transparent), radial-gradient(circle at 100% 100%, #262500, transparent), radial-gradient(circle at 0% 100%, #400, transparent), radial-gradient(circle at 100% 0%, #045301, transparent);
}
#wallpaper iframe{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: none;
    pointer-events: none;
}



input[type="text"], input[type="password"], button{
    padding: var(--ui-elements-padding);
    border-radius: var(--ui-elements-roundness);
    border: var(--ui-elements-border-width) solid var(--clr-desat);
    background-color: var(--clr-bg-element);
    color: var(--clr-text);
}
input[type="text"], input[type="password"]{
    width: 100%;
}
input[type="text"]:focus, input[type="password"]:focus, button:focus{
    border-color: var(--clr-accent);
    background-color: var(--clr-accent-desat);
}
input[type="text"]:hover, input[type="password"]:hover{
    border-color: var(--clr);
}

input[type="range"]{
    appearance: none;
    width: 100%;
    height: 1rem;
    min-width: 8rem;
    background-color: var(--clr-desat);
    border-radius: var(--ui-elements-roundness);
    outline: none;
}
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: var(--clr-accent);
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition-duration-button) ease;
}
input[type="range"]:hover::-webkit-slider-thumb {
    scale: 1.2;
}
input[type="range"]:active::-webkit-slider-thumb {
    scale: 0.9;
}

button{
    cursor: pointer;
    background-color: var(--clr-desat);
    border: var(--ui-elements-border-width) solid transparent;
    transition: all var(--transition-duration-button) ease;
}
button.secondary{
    background-color: transparent;
    border-color: var(--clr-accent-desat);
    color: var(--clr-text);
}
button:hover{
    border-color: var(--clr);
    scale: 1.05;
}
button.secondary:hover{
    border-color: var(--clr-accent);
    background-color: var(--clr-accent-desat);
}
button:active{
    background-color: var(--clr);
    border-color: transparent;
    color: var(--clr-text-alt);
    scale: 0.95;
}
button.secondary:active{
    background-color: var(--clr-accent-desat);
    border-color: var(--clr-accent);
    color: var(--clr-text);
}



.table-container{
    border-radius: var(--ui-elements-roundness);
    border: var(--ui-elements-border-width) solid var(--clr-desat);
    overflow: hidden;
}
table{
    border-collapse: collapse;
}
td{
    border: var(--ui-elements-border-width) solid var(--clr-desat);
}
td:first-child{border-left: none;}
td:last-child{border-right: none;}
tr:last-child td{border-bottom: none;}
tbody:nth-of-type(2) td{border-top: none;}
th{
    background-color: var(--clr-desat);
    color: var(--clr-text);
    font-weight: bold;
    text-align: left;
    font-size: 1.1rem;
}
td, th{
    padding: var(--ui-elements-padding);
}
.noteTitle{
    min-width: 8rem;
}
.dateCell, th{
    white-space: nowrap;
}


input.hue-slider{
    appearance: none;
    --lightness: 65%;
    --saturation: var(--clr-saturation);
    border-radius: 3rem;
    background-image: linear-gradient(to right,
        oklch(var(--lightness) var(--saturation) 0),
        oklch(var(--lightness) var(--saturation) 0),
        oklch(var(--lightness) var(--saturation) 30),
        oklch(var(--lightness) var(--saturation) 60),
        oklch(var(--lightness) var(--saturation) 90),
        oklch(var(--lightness) var(--saturation) 120),
        oklch(var(--lightness) var(--saturation) 150),
        oklch(var(--lightness) var(--saturation) 180),
        oklch(var(--lightness) var(--saturation) 210),
        oklch(var(--lightness) var(--saturation) 240),
        oklch(var(--lightness) var(--saturation) 270),
        oklch(var(--lightness) var(--saturation) 300),
        oklch(var(--lightness) var(--saturation) 330),
        oklch(var(--lightness) var(--saturation) 360),
        oklch(var(--lightness) var(--saturation) 360));
}
input.hue-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: oklch(65% 65% var(--clr-hue));
    cursor: pointer;
    outline: .1rem solid white;
}
input.saturation-slider{
    appearance: none;
    border-radius: 3rem;
    background-image: linear-gradient(to right,
        oklch(50% 0% var(--clr-hue)),
        oklch(50% 100% var(--clr-hue)));
}
input.saturation-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: oklch(65% var(--clr-saturation) var(--clr-hue));
    cursor: pointer;
    outline: .1rem solid white;
}
input.lightness-slider{
    appearance: none;
    border-radius: 3rem;
    background-image: linear-gradient(to right,
        oklch(0% 0 var(--clr-hue)),
        oklch(100% 0 var(--clr-hue)));
}
input.lightness-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: oklch(var(--clr-lightness) 0 0);
    cursor: pointer;
    outline: .1rem solid white;
}
