:root {
    --note-bg: hsl(0, 0%, 0%);
    --page-bg: var(--note-bg);

    --clr: hsl(261.14, 94.36%, 73.38%);
    --clr-desat: hsla(264.87, 100%, 86%, 0.3);
    --clr-secondary: hsl(0, 0%, 51%);
    --clr-text: hsl(0, 0%, 100%);
    --clr-text-alt: hsl(0, 0%, 0%);

    --overlay-bg: hsla(250.97, 68.28%, 73.2%, 0.32);
    --overlay-padding: 1rem;
    --overlay-roundness: 1.5rem;
    --overlay-padding-elements: 1rem;
    --overlay-title-bg: hsla(253.68, 76.68%, 69.98%, 0.51);
    --overlay-blur: 1rem;
    --overlay-shadow: 0 0 15px 5px hsla(0, 0%, 0%, 0.231), 0 4px 25px 0 hsla(0, 0%, 100%, 0.25) inset;

    --sidebar-bg: hsla(0, 0%, 43%, 0.228);
    --sidebar-bg-hover: hsla(0, 0%, 20%, 0.211);
    --sidebar-padding: 1rem;
    --sidebar-icon-size: 1.5rem;
    --sidebar-icon-padding: .7rem;
    --sidebar-icon-roundness: 10rem;
    --sidebar-blur: .2rem;
    --sidebar-blur-hover: calc(var(--sidebar-blur) * 3);
    --sidebar-shadow:
        0 0 10px 0 hsla(0, 0%, 0%, 0.502),
        0 0 5px 0 hsla(0, 0%, 56%, 0.259) inset;
    --sidebar-shadow-hover:
        0 0 15px 0 hsla(0, 0%, 0%, 0.631),
        0 0 10px 0 hsla(0, 0%, 79%, 0.502) inset;

    --ui-elements-roundness: .7rem;
    --ui-elements-border-width: .15rem;
    --ui-elements-padding: .5rem;
    --ui-elements-font-size: 1rem;

    --ui-icon-size: 1.5rem;
    --ui-icon-size-small: 1.2rem;

    --statusbar-height: 2.5rem;
    --statusbar-height-big: 3rem;
    --statusbar-bg: hsl(0, 0%, 11%);

    --selection-border-width: .2rem;
    --selection-border-offset: .4rem;
    --selection-border-color1: hsl(69, 62%, 65%);
    --selection-border-color2: hsl(135, 58%, 48%);

    --transition-duration: 0.2s;
    --transition-duration-button: 0.1s;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: var(--clr-text);
    transition: all var(--transition-duration) ease;
    font-size: var(--ui-elements-font-size);
    user-select: none;
    --webkit-user-select: none;
}


.opposite{
    display: flex;
    justify-content: space-between;
}

.no-transition{
    transition: 0s !important;
}



body{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--page-bg);
}

body[in-overlay="true"] > *:not(#overlay){
    opacity: 0;
    pointer-events: none;
}

body[in-overlay="true"] > #wallpaper{
    opacity: 1;
    pointer-events: all;
}




#wallpaper{
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    /* in case of no wallpaper use the old one */
    background: radial-gradient(circle at 0% 0%, #023437, transparent), radial-gradient(circle at 50% 50%, #360751, transparent), radial-gradient(circle at 100% 100%, #262500, transparent), radial-gradient(circle at 0% 100%, #400, transparent), radial-gradient(circle at 100% 0%, #045301, transparent);
}
#wallpaper iframe{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: none;
    pointer-events: none;
}



input[type="text"], input[type="password"], button{
    padding: var(--ui-elements-padding);
    border-radius: var(--ui-elements-roundness);
    border: var(--ui-elements-border-width) solid var(--clr-desat);
    background-color: var(--clr-bg-element);
    color: var(--clr-text);
}
input[type="text"], input[type="password"]{
    width: 100%;
}
button{
    cursor: pointer;
    background-color: var(--clr-desat);
    border: var(--ui-elements-border-width) solid transparent;
    transition: all var(--transition-duration-button) ease;
}
button.secondary{
    background-color: transparent;
    border-color: var(--clr-desat);
    color: var(--clr-text);
}
input[type="text"]:focus, input[type="password"]:focus, button:focus{
    border-color: var(--clr);
    background-color: var(--clr-desat);
}
input[type="text"]:hover, input[type="password"]:hover{
    border-color: var(--clr);
}
button:hover{
    border-color: var(--clr);
    scale: 1.05;
}
button:active{
    background-color: var(--clr);
    border-color: transparent;
    color: var(--clr-text-alt);
    scale: 0.95;
}
button.secondary:active{
    background-color: var(--clr-desat);
    border-color: var(--clr);
    color: var(--clr-text);
}



.table-container{
    border-radius: var(--ui-elements-roundness);
    border: var(--ui-elements-border-width) solid var(--clr-desat);
    overflow: hidden;
}
table{
    border-collapse: collapse;
}
td{
    border: var(--ui-elements-border-width) solid var(--clr-desat);
}
td:first-child{border-left: none;}
td:last-child{border-right: none;}
tr:last-child td{border-bottom: none;}
tbody:nth-of-type(2) td{border-top: none;}
th{
    background-color: var(--clr-desat);
    color: var(--clr-text);
    font-weight: bold;
    text-align: left;
    font-size: 1.1rem;
}
td, th{
    padding: var(--ui-elements-padding);
}
.noteTitle{
    min-width: 8rem;
}
.dateCell, th{
    white-space: nowrap;
}
