:root {
    --note-bg: oklch(0% 0 0);
    --page-bg: var(--note-bg);

    --test: oklch(100% 0.00011 271.152);

    --clr-hue: 225;
    --clr-saturation: 0.15;
    --clr-lightness: 70%;

    --clr-accent-hue: 300;
    --clr-accent-saturation: calc(var(--clr-saturation) * 0.8);
    --clr-accent-lightness: var(--clr-lightness);

    --clr-bg-hue: 250;
    --clr-bg-saturation: 0.02;
    --clr-bg-lightness: var(--clr-lightness);

    --clr: oklch(var(--clr-lightness)  var(--clr-saturation) var(--clr-hue));
    --clr-desat: oklch(calc(var(--clr-lightness) + 10%) 0.10 var(--clr-hue) / 0.3);
    --clr-accent: oklch(var(--clr-accent-lightness) var(--clr-accent-saturation) var(--clr-accent-hue));
    --clr-accent-desat: oklch(calc(var(--clr-accent-lightness) + 10%) 0.10 var(--clr-accent-hue) / 0.3);
    --clr-bg: oklch(var(--clr-bg-lightness)  var(--clr-bg-saturation) var(--clr-bg-hue) / 0.3);
    --clr-text: oklch(100% 0.00011 271.152);
    --clr-text-alt: oklch(0% 0 0);

    --overlay-bg: oklch(calc(var(--clr-bg-lightness) * 0.8) calc(var(--clr-bg-saturation) * 0.7) var(--clr-bg-hue) / 0.32);
    --overlay-padding: 1rem;
    --overlay-roundness: 1.5rem;
    --overlay-padding-elements: 1rem;
    --overlay-title-bg: oklch(var(--clr-lightness) var(--clr-saturation) var(--clr-hue) / 0.51);
    --overlay-blur: 1rem;
    --overlay-shadow:
        0 0 15px 5px oklch(0% 0 0 / 0.231),
        0 4px 25px 0 oklch(100% 0.00011 271.152 / 0.25) inset;

    --sidebar-icon-size: var(--ui-icon-size);
    --sidebar-icon-padding: var(--ui-icon-padding);
    --sidebar-icon-roundness: var(--ui-icon-roundness);

    --edit-popup-icon-size: var(--ui-icon-size);
    --edit-popup-icon-padding: var(--ui-icon-padding);
    --edit-popup-icon-roundness: var(--ui-icon-roundness);

    --ui-blur: .2rem;
    --ui-blur-hover: calc(var(--ui-blur) * 3);

    --ui-bg: oklch(53.824% min(var(--clr-saturation), 0.04) var(--clr-hue) / 0.228);
    --ui-bg-hover: oklch(32.109% min(var(--clr-saturation), 0.08) var(--clr-hue) / 0.211);

    --ui-shadow:
        0 0 10px 0 oklch(0% 0 0 / 0.502),
        0 0 5px 0 oklch(65.004% 0.00007 271.152 / 0.259) inset;
    --ui-shadow-hover:
        0 0 15px 0 oklch(0% 0 0 / 0.631),
        0 0 10px 0 oklch(83.591% 0.0001 271.152 / 0.502) inset;

    --ui-elements-roundness: .7rem;
    --ui-elements-border-width: .15rem;
    --ui-elements-padding: .5rem;
    --ui-elements-font-size: 1rem;

    --ui-padding: 1rem;

    --ui-icon-size: 1.5rem;
    --ui-icon-size-small: 1.2rem;
    --ui-icon-roundness: 1rem;
    --ui-icon-roundness-small: .3rem;
    --ui-icon-padding: .5rem;

    --ui-popup-hitbox-size: 1rem; /* ::before pseudo-element padding for most popups */

    --selection-border-width: .2rem;
    --selection-border-offset: .4rem;
    --selection-border-roundness: .4rem;
    --selection-border-color1: oklch(var(--clr-lightness) var(--clr-saturation) calc(var(--clr-hue) - 60));
    --selection-border-color2: oklch(var(--clr-lightness) var(--clr-saturation) calc(var(--clr-hue) + 60));

    --settings-bg: var(--overlay-bg);
    --settings-padding: var(--overlay-padding);
    --settings-padding-elements: var(--overlay-padding-elements);
    --settings-blur: var(--overlay-blur);

    --ui-text-size: 1rem;
    --ui-text-size-bold: 1.3rem;

    --transition-duration: 0.3s;
    --transition-duration-button: 0.1s;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    color: var(--clr-text);
    transition: all var(--transition-duration) ease;
    font-size: var(--ui-elements-font-size);
    user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    -moz-user-select: none !important;
    -webkit-touch-callout: none !important;
    transition-behavior: allow-discrete;
}


.opposite{
    display: flex;
    justify-content: space-between;
}

.no-transition{
    transition: 0s !important;
}

.dragging{
    transition: .1s linear !important;
}

.selectable{
    user-select: text !important;
    -webkit-user-select: text !important;
    -ms-user-select: text !important;
    -moz-user-select: text !important;
    -webkit-touch-callout: text !important;
}

html{color-scheme: dark light;}
body{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--page-bg);
}

body[in-overlay="true"] > *:not(#overlay){
    opacity: 0;
    pointer-events: none;
}

body[in-overlay="true"] > #wallpaper{
    opacity: 1;
    pointer-events: all;
}




#wallpaper{
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    /* in case of no wallpaper use the old one */
    background: radial-gradient(circle at 0% 0%, #023437, transparent), radial-gradient(circle at 50% 50%, #360751, transparent), radial-gradient(circle at 100% 100%, #262500, transparent), radial-gradient(circle at 0% 100%, #400, transparent), radial-gradient(circle at 100% 0%, #045301, transparent);
}
#wallpaper iframe{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: none;
    pointer-events: none;
}





/* icon rows/columns for examples #tools, #statusbar and #selection-popup */
.iconSet-h > .icon, .iconSet-v > .icon {
    border-radius: var(--ui-icon-roundness-small);
}

.iconSet-v > .icon:first-child{border-radius: var(--ui-icon-roundness) var(--ui-icon-roundness) var(--ui-icon-roundness-small) var(--ui-icon-roundness-small);} 
.iconSet-v > .icon:last-child{border-radius: var(--ui-icon-roundness-small) var(--ui-icon-roundness-small) var(--ui-icon-roundness) var(--ui-icon-roundness);}
.iconSet-h > .icon:first-child{border-radius: var(--ui-icon-roundness) var(--ui-icon-roundness-small) var(--ui-icon-roundness-small) var(--ui-icon-roundness);}
.iconSet-h > .icon:last-child{border-radius: var(--ui-icon-roundness-small) var(--ui-icon-roundness) var(--ui-icon-roundness) var(--ui-icon-roundness-small);}
.iconSet-v > .icon:first-child:last-child, .iconSet-h > .icon:first-child:last-child{border-radius: var(--ui-icon-roundness) var(--ui-icon-roundness) var(--ui-icon-roundness) var(--ui-icon-roundness);}

.iconSet-h > .icon:hover, .iconSet-v > .icon:hover{
    background-color: var(--clr-accent-desat);
}

/*  WAITING FOR WEBKIT SUPPORT TO ENABLE (safari 26)
.list-mouseOverAnimation{
    position: relative;
    anchor-name: --hovered-item;

    &::after{
        content: '';
        position: absolute;
        top: anchor(top);
        left: anchor(left);
        right: anchor(right);
        bottom: anchor(bottom);
        background: rgba(23, 209, 29, 0.335);
        border-radius: inherit;
        pointer-events: none;
        transition: 1s;
        position-anchor: --hovered-item;
    }

    *:hover {
        anchor-name: --hovered-item;
    }
}
*/
/* UNDER CONSIDERATION
.list-mouseOverAnimation{
    *:hover {
        background-color: var(--clr-accent-desat);
    }
}
*/